/**
* Global style for the application
*
* @author Gaspar Teixeira
* @since Sep, 28 2018
*/


/** Normalize.css
* makes browsers render all elements more consistently and in line with modern standards. It precisely targets only the styles that need normalizing
* http://necolas.github.io/normalize.css/
*/
@import "./vendor/normalize.css";


/** Roboto font
* https://fonts.google.com/specimen/Roboto
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');


/** 
* Custom
*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
}